
a:hover
{
  cursor: pointer !important;
}

.register
{
    display: none ;
}

.forgot_password
{
    display: none ;
}

/* error alerts */
#errors
{
    display: none;
}
#successes
{
    display: none;
}


#error
{
    display: none;
}
#success
{
    display: none;
}