{% extends 'base.html' %}
{% load static %}

{% block content %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}" >
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"> 
{% endblock %}


<body class="profile-page">
  <div class="page-header header-filter" data-parallax="true" style="background-image:url('static/img/cover.jpg');"></div>
  <div class="main main-raised">
  <div class="profile-content">
          <div class="container">
              <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                   <div class="profile">
                        <div class="avatar">
                            <img style="background-color:rgb(202, 235, 207);" src="{{user.profile_photo.url}}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <div class="name">
                            <h3 class="title">{{user.username}}</h3>
                            <h6>{{ user.email }}</h6>
                          {% if user.linkedin != none %}
                            <h6>{{user.linkedin|lower}}</h6>
                          {% endif %}

                          
              <h6 class="font-weight-bold change-profile" data-toggle="modal" data-target="#addProfile">Update Profile Picture</h6>
              <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                              <a href="#" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                              <a href="#" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
              </div>
              <div class="description text-center">
                {% if user.bio %}
                <p>{{user.bio}}</p>
                {% else %}
                <p>NO BIO</p>
                {% endif %}
              </div>
      <div class="row" id="apis">
        <div class="col-md-6 ml-auto mr-auto">
                      <div class="profile-tabs">
                        <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                          <li class="nav-item">
                              <a class="nav-link active passwordBtn" href="#updateProfile" role="tab" data-toggle="tab">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Update profile
                              </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link projectsBtn" href="#updatePassword" role="tab" data-toggle="tab">
                              <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                Update Password
                            </a>
                         </li>
                          <li class="nav-item">
                              <a class="nav-link apiBtn" href="#api" role="tab" data-toggle="tab">
                                <i class="fa fa-external-link" aria-hidden="true"></i>
                                  API
                              </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link projectsBtn" href="#api" role="tab" data-toggle="tab">
                              <i class="fa fa-tachometer" aria-hidden="true"></i>
                                Projects
                            </a>
                        </li>
                        </ul>
                      </div>
          </div>
          </div>
      
        <div class="tab-content tab-space">
          <div class="tab-pane active gallery" id="updateProfile">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <h4 class="text-center font-weight-bold m-2 pt-5 ">Update profile</h4>
            {% for message in messages %}
              {% if message.tags == "error" %}
                <div  class="alert alert-danger">{{ message }}</div>
              {% else %}
                <div  class="alert alert-{{ message.tags }}">{{ message }}</div>
              {% endif %}
            {% endfor %}
            <form method="POST" action="">
              {% csrf_token %}
              <div class="form-group">
                <label class="label">Username</label>
                <input required type="text" readonly name="username" class="form-control" value="{{ user.username }}">
              </div>
  
              <div class="form-group">
                <label class="label">Bio</label>
                <input type="textarea" name="bio" class="form-control" value="{{ user.bio }}">
              </div>
  
              <div class="form-group">
                <label class="label">Email</label>
                <input required type="text" name="email" class="form-control" value="{{ user.email }}">
              </div>
  
              <div class="form-group">
                <label class="label">Phone number</label>
                <input required type="text" name="phone_number" class="form-control" value="{{ user.phone_number }}">
              </div>   
              
              <div class="form-group">
                <label class="label">LinkedIn</label>
                <input required type="text" name="linkedin" class="form-control" value="{{ user.linkedin }}">
              </div>
             
              <div class="form-group">
                <label class="label"></label>
                    <button type="submit" class="btn btn-success px-5 rounded-0 float-right">Save</button>
                </div>
              </div>
            </form>
          </div>
          
        </div>
      </div>


      <div class="tab-content tab-space">
        <div class="tab-pane active gallery" id="updatePassword">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <h4 class="text-center font-weight-bold m-2 pt-5 ">Update Password</h4>
          {% for message in messages %}
            {% if message.tags == "error" %}
              <div  class="alert alert-danger">{{ message }}</div>
            {% else %}
              <div  class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endif %}
          {% endfor %}
          <form method="POST" action="updatepassword">
            {% csrf_token %}
            <div class="form-group">
              <label class="label">Password</label>
              <input required type="password" name="password" class="form-control" >
            </div>

            <div class="form-group">
              <label class="label">Confirm password</label>
              <input required type="password" name="confirm_password" class="form-control">
            </div>

            <div class="form-group">
              <label class="label"></label>
                  <button type="submit" class="btn btn-success px-5 rounded-0 float-right">Update password</button>
              </div>
            </div>
          </form>
        </div>
        
      </div>
    </div>


        <div class="tab-pane gallery" id="api">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <h4>API Endpoints</h4>
              <p>API Key</p><span class="btn btn-outline-secondary">hjgrfrywesofusb</span>

              <h5 class="font-weight-bold mt-3 mb-3">Users</h5>
              <a id="usersApiLink" class="bg-light p-3 mt-3"  href="http://projectreview-django.herokuapp.com/api/users/"><span id="usersApi">
                projectreview-django.herokuapp.com/api/users/
              </span></a>
             
              <h5 class="font-weight-bold mt-3 mb-3">Projects</h5>
              <a id="projectsApiLink" class="bg-light p-3 mt-5"  href="http://projectreview-django.herokuapp.com/api/projects/"><span id="projectsApi">
                projectreview-django.herokuapp.com/api/projects/
              </span></a> </div>
            
            </div>
          </div>

          <div class="tab-pane gallery" id="myProjects">
            <h4 class="text-center font-weight-bold m-3">My Projects  <span class="badge badge-dark">{{counter}}</span></h4>
            <div class="row px-auto">    
            {% if projects %}
              {% for project in projects %}
          <div class="col-lg-4 col-md-6 portfolio-item mb-3 mx-auto">
            <div class="portfolio-wrap ">
              <img src="{{ project.image.url }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{{ project.image.url }}" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                  <a class="h6" href="{{project.link}}">Live link<i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
            <div class="bg-white pt-2 px-3 pb-2">
              <h6 class="font-weight-bold"><a href="sites/{{project.id}}">{{ project.title }}</a></h6>
              {{ project.date_posted|date:"M d, Y" }}
              <hr>
              
            </div>
          </div>
         {% endfor %}
         {% else %}
         <div class="text-center" style="width: 100%;">
         <div class="alert alert-info mx-auto text-center">
           You have not uploaded any project!!
         </div>
         </div>
         {% endif %}
              </div>
            </div>

      </div>
      </div>
      </div>

      <!-- Modal -->
<div class="modal fade" id="addProfile" tabindex="-1" aria-labelledby="addProfileLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body p-5">
            <div id="error" class="alert alert-danger "></div>
            <div id="success" class="alert alert-success"></div>
            <form id="profilePhotoForm" action="/profile_photo" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                <input type="file" name="profile_photo" required class="rounded-0">
                </div>
                <button type="submit" id="updateProfileImgBtn" class="btn btn-danger float-both pt-3 pb-3 w-100 rounded-0">Save</button>
            </form>          
      </div>
     
    </div>
  </div>
</div>
</body>


<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}