{% extends 'base.html' %}
{% load static %}

{% block content %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/project.css' %}" >
{% endblock %}

<main id="main">

  <!-- ======= project Section ======= -->
  <section id="project" class="project mt-5">
    <div class="container mt-4">

      <div class="row">

        <div class="col-lg-7 entries">

          <article class="entry entry-single">

            <div class="entry-img">
              <img src="{{project.image.url}}" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="project-single.html">{{project.title}}</a>
            </h2>

            <form method="POST" action="/project/delete/{{project.id}}">
              {%csrf_token%}
               <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
             </form>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href=""></a>{{project.user.username}}</a></li>
                <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href=""><time datetime="2020-01-01"> {{ project.date_posted|date:"M d, Y" }}</time></a></li>
                <li class="d-flex align-items-center"><i class="icofont-comment"></i> <a href="">12 Comments</a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
                {{project.title}}
              </p>
            </div>

            <div class="entry-footer clearfix">
              <div class="float-left">
                <i class="icofont-folder"></i>
                <ul class="cats">
                  <li><a href="#">Business</a></li>
                </ul>

                <i class="icofont-tags"></i>
                <ul class="tags">
                  <li><a href="#">Creative</a></li>
                  <li><a href="#">Tips</a></li>
                  <li><a href="#">Marketing</a></li>
                </ul>
              </div>

              <div class="float-right share">
                <a href="" title="Share on Twitter"><i class="icofont-twitter"></i></a>
                <a href="" title="Share on Facebook"><i class="icofont-facebook"></i></a>
                <a href="" title="Share on Instagram"><i class="icofont-instagram"></i></a>
              </div>

            </div>

          </article><!-- End project entry -->

          <div class="project-comments">

            <h4 class="comments-count">8 Comments</h4>

            <div id="comment-1" class="comment clearfix">
              <img src="assets/img/comments-1.jpg" class="comment-img  float-left" alt="">
              <h5><a href="">Georgia Reader</a></h5>
              <time datetime="2020-01-01">01 Jan, 2020</time>
              <p>
                Et rerum totam nisi. Molestiae vel quam dolorum vel voluptatem et et. Est ad aut sapiente quis molestiae est qui cum soluta.
                Vero aut rerum vel. Rerum quos laboriosam placeat ex qui. Sint qui facilis et.
              </p>

            </div><!-- End comment #1 -->

            <div id="comment-2" class="comment clearfix">
              <img src="assets/img/comments-2.jpg" class="comment-img  float-left" alt="">
              <h5><a href="">Aron Alvarado</a></h5>
              <time datetime="2020-01-01">01 Jan, 2020</time>
              <p>
                Ipsam tempora sequi voluptatem quis sapiente non. Autem itaque eveniet saepe. Officiis illo ut beatae.
              </p>

            </div><!-- End comment #2-->

          </div><!-- End project comments -->

        </div><!-- End project entries list -->

        <div class="col-lg-5">

          <div class="sidebar">
            <h3 class="sidebar-title">Rate the project</h3>

            <div class="sidebar-item mb-3 categories">
              <form method="POST" action="/project/rate/{{project.id}}">
                {%csrf_token%}
                <div class="form-group">
                  <label>Design</label>
                  <select name="design" required class="form-control">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="4">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>

                <div class="form-group">
                <label>Usability</label>
                <select name="usability" required class="form-control">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="4">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
                </div>

                <div class="form-group">
                <label>Content</label>
                <select name="content" required class="form-control">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="4">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-outline-success rounded-0 mt-03">Rate</button>
                </div>
              </form>

            </div>
           
            <!-- End rate form categories-->

            <h3 class="sidebar-title">Votes</h3>
            <div class="sidebar-item recent-posts">
              <div class="post-item clearfix">
                 Average : {{average}}
              </div>

              <div class="post-item clearfix">
                <img src="assets/img/project-recent-5.jpg" alt="">
                <h4><a href="project-single.html">Et dolores corrupti quae illo quod dolor</a></h4>
                <time datetime="2020-01-01">Jan 1, 2020</time>
              </div>

            </div><!-- End sidebar recent posts-->

          </div><!-- End sidebar -->

        </div><!-- End project sidebar -->

      </div>

    </div>
  </section><!-- End project Section -->

</main><!-- End #main -->

<script src="{% static 'js/project.js' %}"></script>
{% endblock %}