{% extends 'base.html' %}
{% load static %}

{% block content %}


      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.js"></script> 
     
{% block styles %}
<link rel="stylesheet" href="{% static 'css/project.css' %}" >
{% endblock %}

<main id="main">

  <!-- ======= project Section ======= -->
  <section id="project" class="project mt-5">
    <div class="container mt-4">

      <div class="row">

        <div class="col-lg-7 entries">

          <article class="entry entry-single">

            <div class="entry-img">
              <img src="{{project.image.url}}" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a class="text-dark">{{project.title}}</a>
            </h2>             

            <span class="font-weight-bold">Languages</span>
            {% for language in project.languages %}
                  <span class="badge badge-secondary">{{language}}</span>
            {% endfor %}

            <div class="entry-meta mt-2">
              <ul>
                <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href=""></a>{{project.user.username}}</a></li>
                <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href=""><time datetime="2020-01-01"> {{ project.date_posted|date:"M d, Y" }}</time></a></li>
                {% if request.user == project.user %}
                <form method="POST" action="/project/delete/{{project.id}}">
                  {%csrf_token%}
                  <li class="d-flex align-items-center ml-3 text-danger"><i class="icofont-trash"></i> <a class="btn-sm text-danger"  type="submit" >Delete</a></li>
                </form>
                {% endif %}
                <li class="d-flex align-items-center text-dark ml-3"><i class="fa fa-external-link" aria-hidden="true"></i>
                  <a class="text-dark" href="{{ project.link }}">Go Live</a></li>
              </ul>
            </div>

            <div class="entry-content">
              <p>
                {{project.description}}
              </p>
            </div>

            <div class="entry-content">
              <h5 class="font-weight-bold mt-5">Developer Contacts</h5>
               <h6><i class="fa fa-1x fa-envelope mr-3 mb-2" style=" color: Tomato;" aria-hidden="true"></i>
                  {{project.user.email}}</h6>
               <h6><i class="fa fa-1x fa-phone mr-3 mb-2" style=" color: Tomato;" aria-hidden="true"></i> {{project.user.phone_number}}</h6>
               <h6><i class="fa fa-1x fa-linkedin mr-3 mb-2" style=" color: Tomato;" aria-hidden="true"></i><a href="{{project.user.linkedin}}">{{project.user.linkedin}}</a> </h6>
              </p>
            </div>

            <div class="entry-footer clearfix">
              <div class="float-left">
                <i class="icofont-folder"></i>

                <i class="icofont-tags"></i>
                <ul class="tags">
                  <li><a href="#">Kelvin Koech</a></li>
                  <li><a href="#">2021</a></li>
                </ul>
              </div>

              <div class="float-right share">
                <a href="" title="Share on Twitter"><i class="icofont-twitter"></i></a>
                <a href="" title="Share on Facebook"><i class="icofont-facebook"></i></a>
                <a href="" title="Share on Instagram"><i class="icofont-instagram"></i></a>
              </div>
            </div>

          </article><!-- End project entry -->
        </div><!-- End project entries list -->

        <div class="col-lg-5">

          <div class="sidebar">
            <h3 class="sidebar-title">Rate the project</h3>

            <div id="sidebar" class="sidebar-item mb-3 categories">
              <form method="POST" id="rateForm" actionData="{{project.id}}">
                {%csrf_token%}
                <div class="form-group">
                  <label>Design</label>
                  <input type="number" min=1 max=10 id="design" placeholder="Minimum of 1 and maximum of 10" required class="form-control">
                </div>

                <div class="form-group">
                  <label>Usability</label>
                  <input type="number" min=1 max=10 id="usability" placeholder="Minimum of 1 and maximum of 10" required class="form-control">
                </div>

                <div class="form-group">
                  <label>Content</label>
                  <input type="number" min=1 max=10 id="content" placeholder="Minimum of 1 and maximum of 10" required class="form-control">
                </div>
                <div class="text-right">
                  {% if user.is_authenticated %}
                    <button type="submit" id="rateBtn" class="btn btn-outline-success rounded-0 mt-03 px-5">Rate</button>
                  {% else %}
                    Login to rate this project
                  {% endif %}
                  </div>
              </form>

            </div>
           
            <!-- End rate form categories-->

          <h3 class="sidebar-title">Reviews <span class="badge badge-success">{{no_of_review}}</span></h3>
             {% if reviews != 0 %}
              <div class="sidebar-item recent-posts">
                <div class="post-item clearfix">
                 Average :<span id="averageData" data="{{average}}" >{{average}}</span> 
                 <!-- AVERAGE CHART -->
                <canvas id="myChart"></canvas>   
                </div>
                <!-- end of average -->
                 
              </div>

              <div class="post-item clearfix">
                <h4>Usability</h4>
                <p>{{usability}}</p>
                <h4>Content</h4>
                <p>{{content}}</p>
                <h4>Design</h4>
                <p>{{design}}</p>
              </div>
              {% else %}
              <div class="alert alert-info">
                NO REVIEW !
                <p>Start rating the project</p>
              </div>
              {% endif %}
            </div><!-- End sidebar -->

          </div><!-- End sidebar -->

        </div><!-- End project sidebar -->

      </div>

    </div>
  </section><!-- End project Section -->

</main><!-- End #main -->

<script src="{% static 'js/project.js' %}"></script>
{% endblock %}